    <label for="[% field.name %]">[% IF field.label %][% field.label %][% ELSE %][% field.name %][% END %][% IF form.error(field.name).size() %] <br/> <span style="color:red;font-size:9px;">[% form.error(field.name).join(', ') %]</span>[% END %]</label>
    <input id="[% field.name %]" name="[% field.name %]" type="password" value="[% form.params.$this || field.value %]" />